# Исключаем временные файлы
*.pyc
*.pyo
*.pyd
__pycache__/

# Исключаем локальные настройки и секреты
.env
*.env
*.ini
*.cfg

# Исключаем базу данных
db.sqlite3

# Исключаем медиафайлы
/media/

# Исключаем виртуальное окружение
venv/
env/
ENV/
env.bak/
venv.bak/

# Исключаем IDE-файлы
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Исключаем другие файлы
.DS_Store
Thumbs.db